doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title.
      The Portfolio of Designer Natty Coleman
    meta(name = "description" content="Natty Coleman is a designer with experience in UX/UI, branding, and print work.")
    meta(name = "viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href="css/main.css")
    script(type="javascript" src="../js/min/main.min.js")
    script(type="javascript" src="../js/min/plugins.min.js")
  body
    div(class="background")
    section(class="page-head")
      div(class="content-block-center")
        div(class="header-block")
        div(class="content-wrapper")
          h1(class="title") Natty Coleman
          p.
            UX/UI Designer
        div(class="arrow")
          a(href="#work")
            img(src="../img/arrow.png" height="140px" alt="view work")

    section(class="xango" id="work")
      div(class="content-block-center")
        div(class="right-content-wrapper")
          h1(class="title") XANGO
          h2(class="project-info") Design / Code / Print / Photo / Video
          p(class="description").
            Bacon ipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye short ribs. Leberkas shankle brisket flank capicola jerky, ground round short loin. Doner jerky meatloaf bacon kielbasa.
          span(class="project-status").
            Currently in development
        img(src="http://placehold.it/600x900" class="half-left")
        img(src="http://placehold.it/500x300" class="full")
        img(src="http://placehold.it/500" class="half-left")
        img(src="http://placehold.it/500" class="half-right")
        img(src="http://placehold.it/500" class="half-left")

    section(class="blacksmith")
      div(class="content-block-center")
        div(class="left-content-wrapper")
          h1(class="title hyphenate") BLACK&shy;SMITH MFG
          h2(class="project-info") Design / Code / Print / Branding
          p(class="description").
            Bacon ipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye short ribs. Leberkas shankle brisket flank capicola jerky, ground round short loin. Doner jerky meatloaf bacon kielbasa.
          span(class="project-status").
            Currently in development
        img(src="http://placehold.it/600x900" class="half-right")
        img(src="http://placehold.it/500x300" class="full")
        img(src="http://placehold.it/500" class="half-left")
